

<h1>Angular Router</h1>
<nav>
    <a routerLink="/arma" routerLinkActive="active" ariaCurrentWhenActive="page">Arma tu PC</a>
    
    <a routerLink="/reserva" routerLinkActive="active" ariaCurrentWhenActive="page">Reserva de vuelos</a>
    
    <a routerLink="/empleado" routerLinkActive="active" ariaCurrentWhenActive="page">Registro de Empleados</a>
</nav>
<router-outlet></router-outlet>

<!-- <app-empleado-dinamico></app-empleado-dinamico>
<app-armapc></app-armapc>
<app-vuelos></app-vuelos> -->
