/* You can add global styles to this file, and also import other style files */
* {
    font-family:roboto;
    margin: 10px;
    padding: 10px;
    
}
:root{
    color-scheme: light dark;
}
h1 {
    color: coral;
    text-align: center;
}