
* {
    font-family:roboto;
    margin: 10px;
    padding: 10px;
    
}
:root{
    color-scheme: rgb(58, 57, 57);
}
h1 {
    color: electricblue;
    text-align: center;
}

header {
    background-color: skyblue;
    padding: 20px 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

nav ul li {
    display: inline;
}
nav ul li a {
    color: blue;
    text-decoration: none;
    padding: 5px 10px;
}
nav ul li a:hover {
    background-color: rgb(89, 255, 0);
}